<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span>HTTP Client App</span>

  </mat-toolbar-row>

</mat-toolbar>

<mat-card>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" >

    <div style="display: inline-block; width: 48%; vertical-align: top; margin-right: 5px;">
      <app-department ></app-department>
    </div>

    <div style="display: inline-block; width: 48%; vertical-align: top; margin-left: 5px;">
      <app-product></app-product>
    </div>

  </div>

</mat-card>

